<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon %>" type="image/png">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>